*
!*/
paper\ draft\ files/pd/MTP/
paper\ draft\ files/AuthorKit/
tweets6_1/cascades_group_code/
word2vec/
hashtag_segment/gensim-0.10.2/
glove/glove/
tweets_repository/Nov2013/tokenizer/
histogram_of_counts/kmeans/
histogram_of_counts/tsne_python/textSNE-master/
degree_distribution/libsvm-3.20/
degree_distribution/liblinear-1.96/
histogram_of_counts/tsne_python/bh_tsne/
!*.py
!/*.py
!*.bat
!*.R
!/*.R
!/*.bat
!*.java
!*.sh
!*.html
!/*.java
!.gitignore
