*
paper\ draft\ files/pd/MTP/
tweets6_1/cascades_group_code/
word2vec/
hashtag_segment/gensim-0.10.2/
glove/glove/
tweets_repository/Nov2013/tokenizer/
histogram_of_counts/kmeans/ActivityRecognition_code/
#!*/
!*.py
!/*.py
!*.bat
!*.R
!/*.R
!/*.bat
!*.java
!*.sh
!*.html
!/*.java
!.gitignore
